<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formas de Pagamento</title>
    <link rel="stylesheet" href="/pag.css">
</head>
<body>
    <h1>Forma de Pagamento</h1>

    <h2>Resumo do Carrinho</h2>
    <ul>
        <% carrinhoFinal.forEach(item => { %>
            <li>
                Produto: <%= item.nomeProduto %> <br>
                Cor: <%= item.cor %> <br>
                Tamanho: <%= item.tamanho %> <br>
                Quantidade: <%= item.quantidade %> <br>
                Preço: <%= item.preco %> <br>
            </li>
        <% }) %>
    </ul>

    <h3>Total da Compra: R$ <%= totalCompra %></h3>

    <form action="/concluir-compra" method="POST">
        <h3>Escolha a Forma de Pagamento:</h3>
        
        <!-- PIX Option -->
        <label for="pix">
            <input type="radio" id="pix" name="metodoPagamento" value="pix" onclick="mostrarCodigoPix();"> PIX
        </label><br>

        <!-- Cartão de Crédito Option -->
        <label for="cartao">
            <input type="radio" id="cartao" name="metodoPagamento" value="cartao" onclick="mostrarParcelasCartao();"> Cartão de Crédito
        </label><br>


        <button type="submit">Concluir Compra</button>
    </form>

</body>
</html>